## Marathon scheduler options

LIBPROCESS_IP={{marathon_libprocess_ip}}

# Definition of the JAVA_HOME path
JAVA_HOME={{marathon_java_home_path}}

# Definition of the JAVA_OPTS
JAVA_OPTS={{marathon_java_opts_var}}

# Definition of the masters
MARATHON_MASTER=zk://{% for host in groups['zookeeper'] %}{{hostvars[host]['ansible_eth0']['ipv4']['address']}}:2181{% if not loop.last%},{% endif %}{% endfor %}/mesos

# Definition of Marathon's znode in the zookeepers
MARATHON_ZK=zk://{% for host in groups['zookeeper'] %}{{hostvars[host]['ansible_eth0']['ipv4']['address']}}:2181{% if not loop.last%},{% endif %}{% endfor %}/marathon

# Definition of http_port of Marathon
MARATHON_HTTP_PORT={{marathon_http_port}}

# Definition of the WEBUI Url
MARATHON_WEBUI_URL="{{inventory_hostname}}:8080"

MARATHON_HOSTNAME="{{marathon_hostname}}"

{% if marathon_principal is defined and marathon_secret is defined %}
MARATHON_MESOS_AUTHENTICATION_PRINCIPAL="{{marathon_principal}}"
MARATHON_MESOS_AUTHENTICATION_SECRET_FILE="{{marathon_credential_file}}"
{% endif %}