<source>
  type tail
  path /var/lib/docker/containers/*/*-json.log
  pos_file /var/log/containers.log.pos
  time_format %Y-%m-%d %H:%M:%S
  tag containers.*
  format json
  read_from_head true
</source>

{% if inventory_hostname in groups['marathon'] %}
<source>
  type tail
  path /var/log/marathon/marathon.log
  format syslog
  pos_file /var/log/marathon.log.pos
  tag marathon
</source>
{% endif %}

{% if inventory_hostname in groups['zookeeper'] %}
<source>
  type tail
  path /var/log/zookeeper/zookeeper.log
  format none
  pos_file /var/log/zookeeper.log.pos
  tag zookeeper
</source>
{% endif %}

{% if mesos_mode is defined %}
{% if mesos_mode == 'master' or mesos_mode == 'master-slave' %}
<source>
  type tail
  path /var/log/mesos/mesos-master.log
  format syslog
  pos_file /var/log/mesos-master.log.pos
  tag mesos-master
</source>
{% endif %}

{% if mesos_mode == 'slave' or mesos_mode == 'master-slave' %}
<source>
  type tail
  path /var/log/mesos/mesos-slave.log
  format syslog
  pos_file /var/log/mesos-slave.log.pos
  tag mesos-slave
</source>
{% endif %}
{% endif %}

<match **>
  type elasticsearch
  host elasticsearch.marathon.slave.mesos
  port 31020
  logstash_format true
  buffer_chunk_limit 512K
  buffer_queue_limit 128
  flush_interval 5s
  max_retry_wait 300
  include_tag_key true
  disable_retry_limit
</match>
