#!/bin/bash

declare -a ZOOKEEPERS=({% for host in groups['zookeeper'] %}"{{host}}" {% endfor %})
QUORUM={{mesos_master_quorum}}
PORT={{mesos_master_port}}
WORKDIR="{{mesos_work_dir}}"
RESPONSE=

function exit_error {
    echo $1
    exit 2
}


if [[ $1 != "" ]]; then
    # Checking availability
    RESPONSE=`curl -s -X GET http://$1:$PORT/master/state.json`
    if [ $? != 0 ]; then
        exit_error "The $1 Mesos master not responding..."
    fi

    # Checking Zookeepers
    for var_zk in "${ZOOKEEPERS[@]}"
    do
        echo $RESPONSE | grep $var_zk > /dev/null
        if [ $? != 0 ]; then
            exit_error "Zookeeper ($var_zk) not found in master $1 ."
        fi
    done

    # Checking quorum
    echo $RESPONSE | python -m json.tool | grep quorum | grep $QUORUM > /dev/null
    if [ $? != 0 ]; then
        exit_error "Quorum number misconfigured in master $1 ."
    fi

    # Checking workdir
    echo $RESPONSE | python -m json.tool | grep work_dir |
        grep $WORKDIR > /dev/null
    if [ $? != 0 ]; then
        exit_error "Working directory misconfigured in master $1 ."
    fi
    
else
    echo "IP Address missing."
    exit 2
fi

exit 0
