#!/bin/bash

declare -A JSON_KEYS_VALUES=(["\"port\":"]="{{mesos_slaves_port}}"
                             ["\"cpus\""]="{{mesos_slaves_cpus}}"
                             ["\"mem\":"]="{{mesos_slaves_mem}}"
                             ["\"disk\":"]="{{mesos_slaves_disk}}"
                             ["\"ports\":"]="{{mesos_slaves_min_port}}-{{mesos_slaves_max_port}}"
                             ["\"os\":"]="{{mesos_slaves_os}}"
                             ["\"instance_type\":"]="{{instance_type}}"
                             ["\"disk_type\":"]="{{disk_type}}"
                             ["\"master\":"]="zk://{% for host in groups['zookeeper'] %}{{host}}:2181{% if not loop.last%},{% endif %}{% endfor %}/mesos")

RESPONSE=
PORT={{mesos_slaves_port}}

function exit_error {
    echo "./slave_check.sh: Error: "$1""
    exit 2
}

function check_error {
    if [ $? != 0 ]; then
        exit_error "$1"
    fi
}

function grep_value {
    echo $RESPONSE | grep -w "$1" | grep "$2" > /dev/null
}

if [[ $1 != "" ]]; then
    # Checking availability
    RESPONSE=`curl -s -X GET http://$1:$PORT/state | python -m json.tool`
    check_error "Mesos slave not responding... ($1)"

    # Checking metadata
    for keys in "${!JSON_KEYS_VALUES[@]}"
    do
        grep_value $keys ${JSON_KEYS_VALUES["$keys"]}
        check_error "Mesos slave $keys misconfigured or missing. ($1)"
    done

else
    echo "./slave_check.sh: Error: ID Address missing."
    echo "Usage: ./slave_check.sh IP_ADDRESS"
    exit 2
fi

exit 0
